*{
    margin: 0;
    padding: 0;
}

/* For font */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* shared style  */
.btn{
    padding: 16px;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.btn:hover{
    border: 2px solid #30b868;
    background: lightblue;
    color: #30b868;
}
/* main style */
nav{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 32px;
    opacity: 90%;
    font-size: 16px;
    line-height: 152%;
}
.banner{
    background: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px 120px 135px 120px;
    text-align: center;
    margin: 0px auto;
}
.banner .banner-text{
    text-align: center;
    align-items: center;
}
.banner h3{
    background-color: #ffffff;
    color: #30B868;
    font-size: 16px;
    border-radius: 100px;
    padding: 8px 12px;
    max-width: 230px;
    margin: 0px auto;
    font-size: medium;
}
.banner h1{
    opacity: 90%;
    color: #ffffff;
    margin: 16px 0px;
    font-size: 48px;
    font-weight: 700;
}
.banner span{
    color: #30B868;
}
.banner h4{
    color: #ffffff;
    font-size: 18px;
    font-weight: regular;
    line-height: 24px;
}
.banner-button{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 16px;
}
.banner-button .btn-transparent{
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 12px 16px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}
.banner-button .btn-transparent:hover{
    background: #ffffff;
    color: #30b868;
}
#st2{
    padding: 0px 120px;
    text-align: center;
    align-items: center;
    margin: 0px auto;
}
.notes-text h2{
    padding-top: 48px;
    color: #001931;
    font-size: 48px;
    font-weight: 800;
}
.notes-text p{
    padding-top: 16px;
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}
.cards{
    max-width: 1360px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px auto;
    padding-top: 44px;
    gap: 24px;
}
.card{
    background-color: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    padding: 24px;
    max-width: 320px;
}
.card img{
    background-color: #F95555;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 15px;
    margin-bottom: 16px;
}
.card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}
.card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}


.brain{
    display: flex;
    justify-content: center;
    padding: 120px;
    margin: 0px auto;
    gap: 60px;
    align-items: center;
}
.brain bi{
    width: 600px;
    height: 600px;
}
.brain-text h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #30B868;
    margin-bottom: 16px;
}
.brain-text h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.brain-text p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
.brain ul{
    list-style: none;
}