*{
    margin: 0;
    padding: 0;
}

/* For font */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* shared style  */
.btn{
    padding: 16px;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.btn:hover{
    border: 2px solid #30b868;
    background: lightblue;
    color: #30b868;
}
/* main style */
nav{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 32px;
    opacity: 90%;
    font-size: 16px;
    line-height: 152%;
}
.banner{
    background: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px 120px 135px 120px;
    text-align: center;
    margin: 0px auto;
}
.banner .banner-text{
    text-align: center;
    align-items: center;
}
.banner h3{
    background-color: #ffffff;
    color: #30B868;
    font-size: 16px;
    border-radius: 100px;
    padding: 8px 12px;
    max-width: 230px;
    margin: 0px auto;
    font-size: medium;
}
.banner h1{
    opacity: 90%;
    color: #ffffff;
    margin: 16px 0px;
    font-size: 48px;
    font-weight: 700;
}
.banner span{
    color: #30B868;
}
.banner h4{
    color: #ffffff;
    font-size: 18px;
    font-weight: regular;
    line-height: 24px;
}
.banner-button{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 16px;
}
.banner-button .btn-transparent{
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 12px 16px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}
.banner-button .btn-transparent:hover{
    background: #ffffff;
    color: #30b868;
}
