.logo{
    width: 60px;
    height: 40px;
}
.intro{
    margin: 10px;
}
.photo-1{
    width: 300px;
    height: 400px;
}
.project-1{
    width: 500px;
    height: 400px;
    margin: 15px;
}
.project-2{
    width: 500px;
    height: 400px;
    margin: 15px;
}

.contact-me{
    padding: 15px;
    margin: 50px;
    box-shadow: 4px 4px 8px gray;
    text-align: center;
}
.input-box{
    padding:15px;

}
.message{
    width: 40%;
    height: 100px;
    margin-top: 10px;
}
.send-btn{
    width: 60px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: 10px;
    margin-top:20px;
}
.education{
    margin-top: 100px;
}